<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HOME PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="bootstrap.css"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav id="navbar">
  <div class="container">
  <h1 id="log"><a href="/">Pranshu Jain</a></h1>
  <ul>
    <li><a href="project">Projects</a></li>
    <li><a href="interest">Interests</a></li>
    <li><a href="advice">Advise</a></li>
    <li><a href="contact">Contact Me</a></li>
  </ul>
  </div>
</nav>