<%-include('partials/header')-%>
<div class="introduction"><h3>I you ask me for my advise I can give on my field of interest, so here it is: </h3><br>
    <ol> <li>Web Development:If you are new to this field and you want basic understanding of how web development works in one course that go for udemy complete web development bootcamp</li>
    <li>App Development: If you want to completely understand how this works than go for Android Develper Program of Udacity and if You want to soon starts creating apps than go for udemy complete android developer course by Rob</li>
    <li>Game Development: This is also my field of Interest but I am still under learning so I can't recommend to you in this field.</li>
    <li>C++/Java/C: For C++ for for Rob Course in Udemy then go for Plural Sight for more advanced topics. For Java go for Apni Kaksha Java Course I love it very much and for anvanced concepts you can look the official documentation or you can also search in Youtube for it. If you want complete dose of Java then Go for Telusko in Youtube. It is great. For C you don't have to go anywhere if you have already learnt C++ because there is slight difference in both of them and you can search for it if needed. For Python I am still learning it so I can't recommend any but I will soon update this field.</li>
    </ol>
<%-include('partials/footer')-%>
