<%-include('partials/header')-%>
<form id="contact">
    <label for="name">Name</label>
    <input name="name" placeholder="Enter Your Name"type="text">
    <label for="email">Email</label>
    <input name="email" placeholder="Enter Your Email" type="email">
    <label for="description">Description</label>
    <textarea style="margin-bottom:50px;"rows="2"name="description" placeholder ="Enter Purpose For Contacting"></textarea>
    <button type="submit">Submit</button>
  </form>
<%-include('partials/footer')-%>