

<%- include('partials/header'); -%>
<div class="introduction">
  I am Pranshu Jain and I welcome you to this site. Hope you will get the information you are looking to know about me.
  I am always ready to improve this site so if you find anything changable or material that will make the site more attractive contact me. Also If you find anything useful other than that you are always welcome for reviews.
  <div class="respect">Thank You <br> Pranshu Jain</div>
</div>
  <div style="width: 80%; margin:auto; background: white; padding: 20px; margin-bottom: 20px; margin-top: 20px; border-radius: 20%;">
    <div style="font-size: 1.5rem; font-weight: 500;  color:indigo; padding:20px; text-align: center;">
      DO YOU HAVE IDEA !?
    </div>
    <hr>
  <div style="padding:20px; color:rgb(10, 151, 5); font-size:1.3rem;">
      If you want me in your startup or Business and thinks that I am suitable for that. Also if your idea can make a change than your are welcome to contact me and I will be very happy in working with you to MAKE A CHANGE!
  </div>
  </div>
  <img class="edit_photo" style="display:block; margin:auto; border-radius: 50%; border:5px solid white; " src="/photos/0.jfif">
  
<%- include('partials/footer'); -%>
