<%-include('partials/header')-%>

<h1 class="introduction respect" style="float:none; padding:10px; margin:10px;">Here are my interests and I am always working to improve them</h1>
<ul class="introduction" style="clear:both;" style="float:none; padding:10px; margin:10px;">
  <li>Music</li>
  <li>Web Development</li>
  <li>App Development</li>
  <li>Game Development</li>
  <li>Book reading</li>
  <li>Writing</li>
  <li>Teaching</li>
  
</ul>
<%-include('partials/footer')-%>
