<%-include('partials/header')-%>

<div class="project">
    <h3>Here are the Projects that I have made- </h3>
    <div class="p_info"><div class="title">X-O GAME<br></div><div class="show">Show More</div>
    <div class="description">
      This is a project that I have created with the help of Javascript, HTML and CSS and this is one of the initial projects that I have tried to make without any reference or help while creating it.
    </div></div>
    <div class="p_info"><div class="title">MP DTE counselling demonstration using C++<br></div><div class="show">Show More</div>
    <div class="description">
      This is another project that I have made with the help of basic C++ which is a simplified version showing how colleges are shortlisted to a candidate in MP DTE counselling. This is helpful as it helps student to understand how counselling works. This is the project that I have made just after my 12th.
    </div></div>
    <div class="p_info"><div class="title">Family Slideshow app & Timer App<br></div><div class="show">Show More</div>
    <div class="description">
      This is another project that I have made in the very starting of when I started learning Android Development using Java and XML with the help of Android Studio.
      As this project is related to family and also it is very simple. I won't put the link for this project.
    </div></div>
    <div class="p_info"><div class="title">Various C and C++ Programs solving various simple to complex algorithimic and data Structure Problem<br></div><div class="show">Show More</div>
    <div class="description">
      The title is itself very descriptive I think. I have made various programs solving simple to complex programs. I used visual Studio as an environment and used GCC compiler for C and C++ compilation and I have used keywords from basic C to some complex C++ keywords. But I think I have tried to make the use of basic C and C++ the most. I provided the link of my programs here and I regret if you can't able to understand the motive of these programs because they are without comments and also they don't mention the aim of the program so you have to understand the motive of program yourself.
    </div></div>
   
</div>

<!-- <h4 class="check">THis will change background</h4> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="/javascript/logic.js"></script>
  <!-- <script>
    var isHidden = true;
    const element=document.querySelectorAll(".show");
    const description= document.querySelectorAll(".description");
    for(let i=0;i<element.length;i++){
      const index =i;
      element[i].addEventListener("click",function(){
        if(isHidden){
        description[index].style.display="block";
        console.log("I have here! and index is : "+index);
        this.textContent="Show Less"
        isHidden= false;
        }
        else{
          description[index].style.display="none";
        console.log("I have here! and index is : "+index);
        this.textContent="Show More"
          isHidden= true;
        }

      });
    }
  // document.querySelector(".check").onclick= function(){
  //   document.querySelector("body").style.backgroundColor='blue';
  // }
</script> -->
<%-include('partials/footer')-%>
